@mixin nav_text_a {
  color:$_color_nav_text;
  font-size: $_font-size_nav_text;
  font-family: $_font-family_text;
  font-weight: $_font-weight_bold; 
  transition: $_transition_normal;
}

@mixin banner_big_title {
  color:$_color_nav_text;
  font-size:$_font-size_big_title;
  font-family: $_font-family_text;
  font-weight: $_font-weight_black;
}

@mixin banner_description {
  color:$_color_nav_text;
  font-size:$_font-size_text_title;
  font-family: $_font-family_text;
  font-weight: $_font-weight_normal_regular;
}

@mixin banner_download_normal {
  color: $_color_nav_text;
  background-color: $_button_normal;
  font-size: $_font-size_text_title;
  font-family: $_font-family_text;
  font-weight: $_font-weight_black;   
  transition: $_transition_normal;   
}

@mixin text_title {
  color: $_color_text_title;
  font-size: $_font-size_text_title;
  font-family: $_font-family_text;
  font-weight: $_font-weight_black;
}
@mixin text_min {
  color: $_color_text_min;
  font-size: $_font-size_text_min;
  font-family: $_font-family_text;
  font-weight: $_font-weight_normal_regular; 
}

@mixin work_title {
  color:$_color_nav_text;
  font-size: $_font-size_text_title;
  font-family: $_font-family_text;
  font-weight: $_font-weight_black; 
}
@mixin work_text_min {
  color:$_color_nav_text;
  font-size: $_font-size_text_min;
  font-family: $_font-family_text;
  font-weight: $_font-weight_normal_regular; 
}

@mixin our_team__initials {
  color:$_color_text_title;
  font-size: $_font-size_text_title;
  font-family: $_font-family_text;
  font-weight: $_font-weight_bold;
}
@mixin our_team__job {
  color:$_button_normal;
  font-size: $_font-size_text_min;
  font-family: $_font-family_text;
  font-weight: $_font-weight_normal_regular; 
}
@mixin our_team__description {
  color:$_color_text_min;
  font-size: $_font-size_text_min;
  font-family: $_font-family_text;
  font-weight: $_font-weight_normal_regular;
}