
@mixin text_title {
  color: $_color_text_title;
  font-size: $_font-size_text_title;
  font-family: $_font-family_text;
  font-weight: $_font-weight_black;
}
@mixin text_min {
  color: $_color_text_min;
  font-size: $_font-size_text_min;
  font-family: $_font-family_text;
  font-weight: $_font-weight_normal_regular; 
}
