// colors
$_background-color_light:#E5E5E5;

$_button_normal:#FF4343;
$_button_hover:#E71414;
$_button_active:#FF4343;

$_color_nav_text:#FFFFFF;
$_color_nav_hover:#BABBC5;
$_color_nav_active:#E71414;

$_color_text_title:#2D3033;
$_color_text_min:#6C7279;

$_color_social_media:#C6CBCD;

$_color_work_hover: #ff4343cc;

$_color_work_active: #B90C0Ccc;

// font-size

$_font-size_nav_text:.8125rem; //13px
$_font-size_text_min:1.125rem; //18px
$_font-size_text_title:1.5rem; //24px

$_font-size_big_title:4rem; //64px

// font-family
$_font-family_text:"Raleway";


//font-weight
$_font-weight_normal_regular:400;
$_font-weight_bold:700;
$_font-weight_black:900;

//transition
$_transition_normal:0.45s;

//gap
$_gap_work_column:3px;
$_gap_work_row:2px;

