// colors

$_button_normal:#FF4343;
$_button_hover:#E71414;
$_button_active:#FF4343;
$_background-color_light:#E5E5E5;

$_color_text_title:#2D3033;
$_color_text_min:#6C7279;

// font-size
$_font-size_text_min:1.125rem;
$_font-size_text_title:1.5rem;

// font-family
$_font-family_text:"Raleway";

// font-style: italic; 


//font-weight
$_font-weight_normal_regular:400;
$_font-weight_bold:700;
$_font-weight_black:900;

