.banner {
    padding: 14.375rem 0 7.5rem;
    background: url('../img/background_1.png'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(37, 43, 73, 0.8);
        width: 100%;
        height: 100%;
        z-index: 0;
    }    
    .container {
        z-index: 8;
    }
}
.banner_title {
    margin: 0 auto 2rem;
    text-align: center;
    max-width: 65rem;
        h1 {
            @include banner_big_title;
            text-transform: uppercase;
        }
}
.banner_description {
    max-width: 62.5rem;
    margin: 0 auto 5.125rem;
    text-align: center;
        p {
            @include banner_description;
        }
}
.banner_download {
    margin: 0 auto;
    padding: 1.625rem 0;
    width: 23.125rem; //370px
    a {
        @include banner_download_normal;
        padding: 1.625rem 5.6875rem;
    }
}